/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.navbar h3 {
  font-weight: 600;
  color: #222;
}

.navbar div span {
  margin-left: 20px;
  cursor: pointer;
  color: #555;
  font-size: 14px;
  transition: 0.2s;
}

.navbar div span:hover {
  color: #000;
}
.home-container {
 min-height: 10px;
  background: #f4f6f8;
  padding: 30px 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}